<header>
    <nav class="navbar navbar-default navbar-static-top" id="navigator">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#collapsemenu" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><span>Restaurant Recommendation</span></a>
            </div>
            <div class="collapse navbar-collapse" id="collapsemenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/restaurants">Home</a></li>
                    <li><a href="/recommendations/2">My Recommendations</a></li>
                    <li><a href="/friendrecommendations/2">Friend's Recommendations</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>